.about .block {
    display: flex;
    justify-content: center;
}
.about .block img {
    width: 300px;
    border-radius: 10%; 
}
.about .block .content {
    margin-top: 20px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .block .content .basic {
    padding: 0 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.about .block .content .basic .item {
    display: flex;
    align-items: center;
    justify-content: start;
}
.about .block .content .basic .item .key{
    width: 100px;
}
.about .block .content .basic .item .value {
    color: orange;
}
.about .block .content .intro {
    padding: 20px;
}
.about .block .content .ability {
    display: flex;
    justify-content: space-between;
}
.about .block .content .ability .item {
    width: 30%;
    text-align: center;
}
.about .block .content .ability .item .num {
    font-size: 30px;
    font-weight: bold;
    color: orange;
}
.about .block .content .ability .item .text {
    padding: 5px;
}
.about .block .content .button {
    padding: 15px;
    margin-top: 50px;
    background-color: orange;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
}
.about .block .content .button .iconfont {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}