/* home */
.home {
    flex-direction: row;
}
.home .text {
    padding: 20px;
    width: 550px;
}
.home .text .title {
    font-size: 60px;
}
.home .text .subtitle {
    vertical-align: middle;
    color: #444;
    font-size: 30px;
}
.home .text .iconfont {
    font-size: 30px;
}
.home .text .content {
    font-size: 25px;
    color: #999;
}
.home .text .button {
    width: 180px;
    height: 60px;
    display:flex;
    justify-content: center;
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    background-color: orange;
    margin: 80px 0 0 80px;
    border-radius: 20px;
}
.home .image {
    padding: 20px;
    text-align: center;
}
.home .image img {
    border-radius: 50%/35% 35% 65% 65%;
    width: 300px;
}
.home .image .scroll {
    margin-top: 30px;
    font-size: 25px;
    display:flex;
    justify-content: center;
}
.home .image .scroll .iconfont {
    font-size: 30px;
    color: orange;
    margin: 0 10px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(12px);
    }
    60% {
      transform: translateY(5px);
    }
  }
  
.scroll .icon-mouse {
    animation: bounce 1s infinite;
}



/* about */
.about {
    flex-direction: column;
}
.about .title { 
    width: 50%;
    text-align: center;
}
.about .title .main {
    font-size: 50px;
}
.about .title .sub {
    font-size: 30px;
    color: #999;
}
.about .block {
    display: flex;
    justify-content: space-evenly;
}
.about .block img {
    width: 280px;
    border-radius: 10%; 
}
.about .block .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .block .content .text {
    padding: 20px;
}
.about .block .content .ability {
    display: flex;
    justify-content: space-between;
}
.about .block .content .ability .item {
    width: 30%;
    text-align: center;
}
.about .block .content .ability .item .num {
    font-size: 30px;
    font-weight: bold;
    color: #666;
}
.about .block .content .ability .item .text {
    padding: 5px;
}
.about .block .content .button {
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: orange;
    color: #fff;
}
.about .block .content .button .iconfont {
    font-size: 30px;
    vertical-align: middle;
}