* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f6f6f6;
}

li {
    list-style-type: none;
}

.disabled {
    display: none !important;
}

.test {
    width: 200px;
    height: 200px;
    background-color: red;
}
.test1 {
    width: 200px;
    height: 200px;
    background-color: orange;
}