* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f6f6f6;
}

header {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #bbb;
    z-index: 1000;
}
header .head {
    margin: 0 10%;
    padding: 20px 0;
}
header .name h1:hover {
    color: orange;
}
header .list {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .list .item {
    padding: 10px;
}
header .list .item:hover {
    background-color: #f5f5f5;
    border-radius: 10%;
    color: orange;
}
header .list .item .iconfont {
    font-size: 25px;
}

.container {
    background-color: #fff;
    width: 85%;
    margin: 0 auto;  
    margin-top: 100px;
}
.container .page {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* title */
.page:not(.home) .title { 
    width: 50%;
    text-align: center;
}
.page:not(.home) .title .main {
    font-size: 50px;
}
.page:not(.home) .title .sub {
    font-size: 30px;
    color: #999;
}