* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f6f6f6;
}

header {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #bbb;
}
header .head {
    margin: 0 10%;
    padding: 20px 0;
}
header .name h1:hover {
    color: orange;
}
header .list {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .list .item {
    padding: 10px;
}
header .list .item:hover {
    background-color: #f5f5f5;
    border-radius: 10%;
    color: orange;
}
header .list .item .iconfont {
    font-size: 25px;
}

.container {
    background-color: #fff;
    width: 85%;
    margin: 0 auto;  
    margin-top: 100px;
}
.container .item {
    width: 100%;
    padding-top: 30px;
    border-bottom: 1px solid;
}
.container .home {
    display: flex;
    justify-content: center;
}
.container .home .text {
    padding: 20px;
    width: 550px;
}
.container .home .text .title {
    font-size: 60px;
}
.container .home .text .subtitle {
    vertical-align: middle;
    color: #444;
    font-size: 30px;
}
.container .home .text .iconfont {
    font-size: 30px;
}
.container .home .text .content {
    font-size: 25px;
    color: #999;
}
.container .home .text .button {
    width: 180px;
    height: 60px;
    display:flex;
    justify-content: center;
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    background-color: orange;
    margin: 80px 0 0 80px;
    border-radius: 20px;
}
.container .home .image {
    padding: 20px;
    text-align: center;
}
.container .home .image img {
    border-radius: 50%;
    width: 300px;
}
.container .home .image .scroll {
    margin-top: 30px;
    font-size: 25px;
    display:flex;
    justify-content: center;
}
.container .home .image .scroll .iconfont {
    font-size: 30px;
    color: orange;
    margin: 0 10px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(12px);
    }
    60% {
      transform: translateY(5px);
    }
  }
  
  .scroll .icon-mouse {
    animation: bounce 1s infinite;
  }