@font-face {
  font-family: "iconcolor"; /* Project id 5030404 */
  /* Color fonts */
  src:
       url('iconfont.woff2?t=1762179339478') format('woff2'),
       url('iconfont.woff?t=1762179339478') format('woff'),
       url('iconfont.ttf?t=1762179339478') format('truetype');
}

.iconcolor {
  font-family: "iconcolor" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq-mail:before {
  content: "\e6ed";
}

.icon-github:before {
  content: "\e85a";
}

.icon-qq:before {
  content: "\e667";
}

.icon-local:before {
  content: "\e607";
}

.icon-gmail:before {
  content: "\e60d";
}

.icon-juejin:before {
  content: "\e612";
}

.icon-Go:before {
  content: "\e7bc";
}

.icon-Postman:before {
  content: "\e60c";
}

.icon-Shell:before {
  content: "\e684";
}

.icon-Nginx:before {
  content: "\e60b";
}

.icon-TypeScript:before {
  content: "\ed33";
}

.icon-RabbitMQ:before {
  content: "\e605";
}

.icon-C:before {
  content: "\e6cc";
}

.icon-React:before {
  content: "\e799";
}

.icon-Python:before {
  content: "\e891";
}

.icon-Pandas:before {
  content: "\e7db";
}

.icon-Spring:before {
  content: "\e600";
}

.icon-Flask:before {
  content: "\e601";
}

.icon-MongoDB:before {
  content: "\e602";
}

.icon-Docker:before {
  content: "\e603";
}

.icon-Linux:before {
  content: "\e604";
}

.icon-MySQL:before {
  content: "\e606";
}

.icon-Java:before {
  content: "\e608";
}

.icon-Vue:before {
  content: "\e609";
}

.icon-Redis:before {
  content: "\e60a";
}

.icon-Git:before {
  content: "\e60e";
}

.icon-HTML5:before {
  content: "\e60f";
}

.icon-JavaScript:before {
  content: "\e610";
}

.icon-CSS3:before {
  content: "\e611";
}

.icon-Ansible:before {
  content: "\e614";
}

