@font-face {
  font-family: "iconfont"; /* Project id 5006037 */
  src: url('iconfont.woff2?t=1759653228243') format('woff2'),
       url('iconfont.woff?t=1759653228243') format('woff'),
       url('iconfont.ttf?t=1759653228243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e607";
}

.icon-send:before {
  content: "\e643";
}

.icon-mouse:before {
  content: "\e635";
}

.icon-list:before {
  content: "\e7f4";
}

.icon-moon:before {
  content: "\e6c3";
}

.icon-sun:before {
  content: "\e6da";
}

.icon-translate:before {
  content: "\e888";
}

.icon-right:before {
  content: "\e63c";
}

