/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 @XiChen1234 
 * https://github.com/XiChen1234
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
   * colors
   */

    --text: #000000;
    --background: #fff;
    --common-background: #eee;
    --tag-background: var(--dark-common-background);
    --button-bg: var(--light-orange);

    /** dark */
    --dark-text: #fff;
    --dark-background: #000;
    --dark-common-background: #333;
    --dark-tag-background: #777;

    --orange: #FFA500;
    --gray: #bababa;
    --light-orange: #ffe4b599;
    --dark-orange: #6c604d;
}

.dark-mode {
    --text: var(--dark-text);
    --background: var(--dark-background);
    --common-background: var(--dark-common-background);
    --button-bg: var(--dark-orange);
    --tag-background: var(--dark-tag-background);
}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--text);
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

body {
    min-width: 260px;
    color: var(--text);
}

img {
    width: 100px;
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

aside {
    position: fixed;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--gray);
    opacity: 50%;
}

aside:hover {
    box-shadow: 0 0 20px 2px var(--gray);
    border: 3px solid var(--orange);
}

aside .iconfont {
    font-size: 30px;
    transform: rotate(-90deg);
}

aside:hover .iconfont {
    color: var(--orange);
}


/*-----------------------------------*\
  #CONTENT
\*-----------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--common-background);
}



/*-----------------------------------*\
  #NAV
\*-----------------------------------*/
nav {
    height: 75px;
}

nav.navbar {
    width: 100%;
    background-color: var(--background);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
}

nav a:hover {
    color: var(--orange);
}


nav .logo {
    display: flex;
    font-size: 35px;
    font-weight: 1000;
    min-width: 20%;
    justify-content: center;
}

nav .logo img {
    width: 30px;
    margin: 5px;
}

nav ul {
    min-width: 60%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

nav .iconfont {
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

nav .iconfont:hover {
    color: var(--orange);
    background-color: var(--button-bg);
    border-radius: 10px;
}

nav .iconfont.hidden {
    display: none;
}

nav ul li:hover {
    color: var(--orange);
    background-color: var(--button-bg);
    border-radius: 10px;
}


/*-----------------------------------*\
  #ARTICLE
\*-----------------------------------*/

article {
    width: 90%;
    min-height: 80vh;
    margin-top: 20px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}


/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

article#home .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title header"
        "tags header"
        "contact next";
    width: 90%;
}

article#home .container .header {
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article#home .container .header img {
    width: 300px;
    border-radius: 50%/35% 35% 65% 65%;
}

article#home .container .title {
    grid-area: title;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: 100%;
}

article#home .container .tags {
    grid-area: tags;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

article#home .container .tags .box {
    display: flex;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

article#home .container .tags .box div {
    white-space: nowrap;
}

article#home .container .tags .box div {
    animation: animate var(--t) linear infinite;
}

article#home .container .tags .box div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes animate2 {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-200%);
    }
}

article#home .container .tags .box div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: .2em;
    background-color: #888;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

article#home .container .contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

article#home .container .contact a {
    width: 70%;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0;
    background-color: var(--orange);
}

article#home .container .contact a .iconfont {
    font-size: 30px;
}

article#home .container .next {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article#home .container .next a {
    font-size: 30px;
    display: flex;
}

article#home .container .next a .iconfont {
    color: var(--orange);
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}

article#home .container .next a .icon-mouse {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%{transform: translateY(12px);} 60% {transform: translateY(5px);} 
}

article#home .container .next a .icon-right {
    transform: rotate(90deg);
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/* 电脑端 + 平板端，一致 */
@media(min-width: 768px) {}

/* 手机端icon菜单 */
nav .iconfont.icon-list {
    display: none;
}

/* 手机端 */
@media(max-width: 768px) {

    nav .iconfont.icon-list {
        display: block;
    }

    nav ul {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        position: fixed;
        top: 75px;
        min-width: 100%;
        background-color: var(--background);
    }

    nav ul.active {
        display: block;
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 998;
    }

    #overlay.active {
        display: block;
    }

    article {
        width: 100%;
    }

    article#home .container {
        margin: 20px 20px 40px 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 6fr 2fr 3fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "title"
            "header"
            "next"
            "tags"
            "contact ";
        width: 90%;
    }
    article#home .container .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }
}