@font-face {
  font-family: "color"; /* Project id 4417316 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1706965058486') format('woff2'),
       url('iconfont.woff?t=1706965058486') format('woff'),
       url('iconfont.ttf?t=1706965058486') format('truetype');
}

.color {
  font-family: "color" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-ansibale:before {
  content: "\e8fc";
}

.color-shell:before {
  content: "\e600";
}

.color-aliyun:before {
  content: "\e601";
}

.color-wx-mini:before {
  content: "\e61b";
}

.color-mybatisplus:before {
  content: "\e602";
}

.color-mongodb:before {
  content: "\e65b";
}

.color-Vue:before {
  content: "\e799";
}

.color-linux:before {
  content: "\e80b";
}

.color-mybatis:before {
  content: "\e60b";
}

.color-mysql:before {
  content: "\e638";
}

.color-spring:before {
  content: "\ed0b";
}

.color-echarts:before {
  content: "\e605";
}

