:root {
  /* bg */
  --common-bg-light: #e2e2e2;
  --common-bg-dark: #1e1e1e;
  --page-bg-light: #ffffff;
  --page-bg-dark: #121212;
  --bg-focus-light: #e7e7e7;
  --bg-focus-dark: #333333;

  --bg-card: #888;

  /* text */
  --text-main-light: #000;
  --text-main-dark: #c3c3c3;
  --text-secondary-light: #666666;
  --text-secondary-dark: #999999;
  --text-main-focus: orange;
  --text-secondary-focus: #ffaf1a;

  --text-card: #fff;

  /* border */
  --border-color-light: #333;
  --border-color-dark: #c3c3c3;
  --border-color-focus: orange;
}

[data-theme="light"] {
  --common-bg: var(--common-bg-light);
  --page-bg: var(--page-bg-light);
  --bg-focus: var(--bg-focus-light);
  --text-main: var(--text-main-light);
  --text-secondary: var(--text-secondary-light);
  --border: var(--border-color-light);
}

[data-theme="dark"] {
  --common-bg: var(--common-bg-dark);
  --page-bg: var(--page-bg-dark);
  --bg-focus: var(--bg-focus-dark);
  --text-main: var(--text-main-dark);
  --text-secondary: var(--text-secondary-dark);
  --border: var(--border-color-dark);
}
