/* CSS Reset */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  width: 300px;
}

ul, li {
  list-style: none;
}
