@font-face {
    font-family: "iconfont"; /* Project id 4417340 */
    src: url('//at.alicdn.com/t/c/font_4417340_r5v364il37m.woff2?t=1706423775673') format('woff2'),
         url('//at.alicdn.com/t/c/font_4417340_r5v364il37m.woff?t=1706423775673') format('woff'),
         url('//at.alicdn.com/t/c/font_4417340_r5v364il37m.ttf?t=1706423775673') format('truetype'),
         url('//at.alicdn.com/t/c/font_4417340_r5v364il37m.svg?t=1706423775673#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-backend:before {
    content: "\e600";
  }
  
  .icon-frontend:before {
    content: "\e670";
  }
  
  .icon-github:before {
    content: "\e85a";
  }
  
  .icon-gitee:before {
    content: "\e686";
  }
  
  .icon-bilibili:before {
    content: "\e61f";
  }
  
  .icon-wechat:before {
    content: "\e66e";
  }
  
  .icon-phone:before {
    content: "\e6a2";
  }
  
  .icon-location:before {
    content: "\e6db";
  }
  
  .icon-email:before {
    content: "\e66f";
  }
  
  .icon-qq:before {
    content: "\e6e8";
  }
  
  .icon-right:before {
    content: "\e63c";
  }
  
  .icon-left:before {
    content: "\e889";
  }
  
  .icon-xiala:before {
    content: "\e88a";
  }
  
  .icon-download:before {
    content: "\e607";
  }
  
  .icon-calendar:before {
    content: "\e809";
  }
  
  .icon-edu:before {
    content: "\e62a";
  }
  
  .icon-list:before {
    content: "\e7f4";
  }
  
  .icon-send:before {
    content: "\e643";
  }
  
  .icon-desktop:before {
    content: "\e606";
  }
  
  .icon-language:before {
    content: "\e609";
  }
  
  .icon-server:before {
    content: "\e60a";
  }
  
  .icon-mouse:before {
    content: "\e635";
  }
  
  .icon-achievements:before {
    content: "\e690";
  }
  
  .icon-profession:before {
    content: "\e6ae";
  }
  
  .icon-translate:before {
    content: "\e888";
  }
  