@font-face {
  font-family: "iconfont"; /* Project id 4417340 */
  src: url('//at.alicdn.com/t/c/font_4417340_j3ivqzyx4e.woff2?t=1705839583699') format('woff2'),
       url('//at.alicdn.com/t/c/font_4417340_j3ivqzyx4e.woff?t=1705839583699') format('woff'),
       url('//at.alicdn.com/t/c/font_4417340_j3ivqzyx4e.ttf?t=1705839583699') format('truetype'),
       url('//at.alicdn.com/t/c/font_4417340_j3ivqzyx4e.svg?t=1705839583699#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e63c";
}

.icon-left:before {
  content: "\e889";
}

.icon-xiala:before {
  content: "\e88a";
}

.icon-download:before {
  content: "\e607";
}

.icon-calendar:before {
  content: "\e809";
}

.icon-edu:before {
  content: "\e62a";
}

.icon-list:before {
  content: "\e7f4";
}

.icon-send:before {
  content: "\e643";
}

.icon-backend:before {
  content: "\e601";
}

.icon-desktop:before {
  content: "\e606";
}

.icon-language:before {
  content: "\e609";
}

.icon-server:before {
  content: "\e60a";
}

.icon-mouse:before {
  content: "\e635";
}

.icon-achievements:before {
  content: "\e690";
}

.icon-profession:before {
  content: "\e6ae";
}

.icon-translate:before {
  content: "\e888";
}
